.background{
    background-color: aqua;
    height: 100%;
    width: 100%;
    background-image: url(asset/leaves-pattern.png);
    
}
.wrap{
	background:  #ffffff;
    height: auto;
    width: auto;
    margin-top: 25px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 25px;

 
/*bagian header*/
}
.wrap .header{
    background-color: #F0E68C;
    text-align: center;
    font-family: Fredoka One;
    color: #3BA08E;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.4);
    font-style: normal;
    font-weight: normal;
    padding: 2px 10px;
}

.wrap .header2{
    padding: 2px 10px;
    width: 100%;
    height: 155px;
    margin: auto;
    margin-left: -10px;
    position: relative;
}

/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
    background-color: #FFD6A5;
    height: 60px;
    margin-bottom: 10px;
    color: black;
    box-shadow: 0px 4px 4px 0px #000000 25%;
    ;
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
    background-color: #8BDD6E;
    color: black;
    box-shadow: 0px 4px 4px 0px #000000 25%;
    overflow: hidden;
    list-style: none;
}
 
.wrap .menu ul li{
	float: left;
    list-style-type: none;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-style: normal;
    padding: 20px;
    text-decoration: none;
}

.wrap .menu ul li .btn-beranda{
    background: burlywood;
}
/*akhir menu*/
 
.wrap .bingkaijudul{
    background-color: #8BDD6E;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px 0px #000000 25%;
}
 
.wrap .bingkaijudul .judul{
    background-color: white;
    height: 35px;
    box-shadow: 0px 4px 4px 0px #000000 25%;
    padding-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.wrap .bingkaijudul .judul .textjudul1{
    padding-left: 10px;
}

.clear{
	clear: both;
}

.wrap .garishitam{
    background-color: black;
    height: 44px;
    margin-bottom: 10px;
}

.wrap .garishitam .blokjudul{
    background-color: #EDF2F4;
    height: 41px;
    box-shadow: 0px 4px 4px 0px #000000 25%;
}

.wrap .garishitam .blokjudul .blokjudul2{
    background: #8BDD6E;
    text-align: center;
    width: 10%;
    height: 100%
}

.wrap .garishitam .blokjudul .blokjudul2 .textjudul2{
    padding-top: 10px;
}

.wrap .badan{
    background: white;
	float: left;
	height: 450px;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	background: white;
	float: left;
	height: 100%;
    width: 100%;
}

.wrap .badan .content .isicontent{
    padding-top: opx;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}
 
.wrap .footer{
    background: white;
	padding: 10px;
}

.wrap .footer .textfooter{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

}
.wrap .footer .instagram{
    padding-left: 60px;
    padding-right: 60px;
    text-align: right;


}
